# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
release
out
dist-ssr
.env
.env.*
!.env.example
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.dmg
*.exe
*.AppImage
public/downloads/*
!public/downloads/.gitkeep
!public/downloads/updates.json
!public/downloads/glytch-chat-setup.exe

release-test/
